<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
            <div><%= @topic.name %></div>
            <p><%= @topic.description %></p>
        </div>
        
        <div>
        
        </div>
    </body>
</html>