<h1>All Resources</h1>

<ul>
	<% @resources.each do |resource| %>
		<li> <%= link_to resource.title, "/resources/#{resource.id}" %> by 
			 <%= link_to resource.author.name, "/authors/#{resource.author.id}"%>
			 <% resource.topics.each do |topic| %>
			 	<%= topic.name %>
			 <% end %>
		 </li>
	<% end %>
</ul>